@font-face {
	font-family: 'Gilroy';
	font-weight: 300;
	src: url('/fonts/gilroy-ultralight.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-ultralight.svg#gilroy-ultralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 400;
	src: url('/fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 500;
	src: url('/fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 600;
	src: url('/fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 700;
	src: url('/fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
	font-weight: 800;
	src: url('/fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}